<app-navbar></app-navbar>

<div class="tela-cadastro">
  <!-- Lado esquerdo com imagem -->
  <div class="lado-imagem">
    <h1>Bem-vindo(a)!</h1>
    <p>Estamos felizes em te ver por aqui</p>
  </div>

  <!-- Lado direito com formulário -->
  <div class="lado-formulario">
    <h2>Criar Conta</h2>
    <form (ngSubmit)="cadastrar()" #form="ngForm">
      <input type="text" name="nome" [(ngModel)]="nome" placeholder="Nome completo" required />
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
      <div *ngIf="email && !emailValido()" class="erro">Use um email válido</div>

      <input type="password" name="senha" [(ngModel)]="senha" placeholder="Senha" required />
      <div *ngIf="senha && !senhaValida()" class="erro">
        A senha deve começar com letra maiúscula e ter pelo menos 8 caracteres.
      </div>

      <button type="submit" [disabled]="!form.valid || !emailValido() || !senhaValida()">Cadastrar</button>
      <p class="trocar">
        Já tem conta?
        <span (click)="irParaLogin()">Faça login</span>
      </p>      
    </form>

    <p *ngIf="mensagem" class="mensagem">{{ mensagem }}</p>
  </div>
</div>
