.navbar-container {
    background-color: #ffcec8;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* CENTRALIZA O MENU */
  .menu-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    color: #e12c2c;
    display: flex;
    gap: 2em;
  }
  
  .menu-links .link {
    cursor: pointer;
  }
  
  .menu-buttons {
    display: flex;
    gap: 0.5em;
  }
  
  .logo-wrapper img {
    width: 240px;
    height: auto;
    margin-top: 9em;
  }
  
  .menu-links {
    font-size: 1.3rem;
    color: #e12c2c;
    display: flex;
    gap: 2em;
  }
  
  .menu-links .link {
    cursor: pointer;
  }
  
  .menu-buttons {
    display: flex;
    gap: 2em;              /* espaçamento entre os botões igual ao menu central */
    font-size: 1.3rem;     /* igual ao menu central */
    color: #e12c2c;        /* mesma cor */
    align-items: center;   /* alinha verticalmente */
    margin-left: auto;     /* 👈 garante que os botões vão para a direita dentro do flex container */
  }
  
  .btn {
    font-size: 1.3rem;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn-white {
    background-color: white;
    color: #e12c2c;
    border: 0.5px solid gray;
  }
  
  .btn-red {
    background-color: #e12c2c;
    color: white;
    border: 0.5px solid gray;
  }
  

  .menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 999;
  }
  
  .menu-lateral.aberto {
    width: 250px;
  }
  
  .menu-lateral a {
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 18px;
  }
  
  .menu-lateral a:hover {
    background-color: #575757;
  }
  
  .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  

  .link {
    display: flex;
    padding: 10px 20px;
    background-color: #fbe3de;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: #e12c2c !important; /* Força a cor igual aos outros */
    border: none;
  }
  
  
  .link:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8d3cc;
  }
  
  